*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font:'Space Grotesk', sans-serif;
}

main {
    display: flex;
    height: 100vh;
}

main .left-container {
    width: 8em;
    display: flex;
    justify-content: center;
    border-right: 2px solid #4346501f;
}

.left-container .vartical-nav{
    display: flex;
    margin: 2em;
    align-items: center;
    flex-direction: column;
}


.vartical-nav span i {
    font-size: 4rem;
    color: #F63566;
}

.vartical-nav ul {
    color: #434650;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:3em;
    width: 100%;
}

.vartical-nav li {
    font-size: 2rem;
    list-style-type: none;
    padding:1em;
    transition: 0.4s ease;
    cursor: pointer;
}

ul li i {
    transition: 0.2s ease;
}


/* Right Container start */
.right-container {
    margin: 3em 4em;
    width: 100%;
}

.right-container .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
}

.top-nav .title {
    font-size: 2.5rem;
    font-weight: 600;
}

.top-nav .search-section {
    position: relative;
}

.top-nav .search-section input[type="text"] {
    padding: 1em;
    border-radius: 8px;
    outline: none;
    border: 1px solid #43465044;
    width:  20em;
    font-size: 1.3rem;
    color: #F63566;
}

.search-section .fa-magnifying-glass{
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    color:#F63566; 
    font-size: 1.2em;
}

.top-nav .user-info i{
    font-size: 2rem;
    color: #F63566;
}


.right-container .content-wrapper {
    font-family: var(--primary-font);
    margin-top: 5em;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(3, 1fr);
}

.right-container .movie-container {
    display: flex;
    width: 100%;
    height: 12em;
    gap: 0.5em;
    border: 1px solid #4346501f;
    border-radius: 8px;
    overflow: hidden;
}

.movie-container .image-container {
    width: 15em; 
    height: auto;
    overflow: hidden;
    border-radius: 8px 0px 0px 8px;
}

.movie-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.content-wrapper .movie-info {
    /* background-color: #F63566; */
    width: 100%;
    position: relative;
    padding: 1em;
}

.movie-info span i {
    font-size: 1.2rem;
    position: absolute;
    top:5px;
    right: 1em;
    transform: translate(0, 50%);
}

.movie-info .about-movie {
    margin-top: 1.1em;
}

.movie-info .movie-title {
    margin: 0.2em 0;
    font-size: 1.2rem;
    color: #434650;
    transition: 0.2s ease;
    cursor: pointer;

    
}

.movie-info .movie-title:hover {
    color: #F63566;
}

.about-movie .movie-tag {
    margin: 0.5em 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.about-movie hr {
    border: none;
    border-bottom: 1px solid #4346501f;
}

.about-movie .movie-reviews {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: right;
    padding: 0.5em;
}

.movie-reviews img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-right: -10px;

}